NEXTAUTH_SECRET = Put your own secret here
GOOGLE_CLIENT_ID = Put your own Google Client ID here
GOOGLE_CLIENT_SECRET = Put your own Google Client Secret here
DATABASE_URL = Put your own database URL here